.Main {
  background: #23233B;
  padding-bottom: 130px;
}

.Main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.Main__wrapper > .text {
  margin-top: 200px;
}

.Main__wrapper > .text > .top p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1px;
  color: #F6F6F8;
}

.Main__wrapper > .text > .top > .line1 {
  background: #57D9A6;
  width: 150px;
  height: 2px;
  margin-top: 5px;
}

.Main__wrapper > .text .title {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  margin-top: 60px;
  color: #F6F6F8;
}

.Main__wrapper > .text .description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin-top: 20px;
  color: #F6F6F8;
}

.Main__wrapper > .text span {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #B2B2BF;
  margin-top: 22px;
  display: block;
}

.Main__wrapper > .text button {
  padding: 14px 24px;
  outline: none;
  border: none;
  display: block;
  background: #57D9A6;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1C1C33;
  margin-top: 45px;
}

.Main__wrapper > .text button:hover {
  background: #07bb2e;
  -webkit-box-shadow: rgba(221, 221, 228, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(221, 221, 228, 0.2) 0px 7px 29px 0px;
  font-weight: 600;
}

.Main__wrapper .imga {
  margin-right: -80px;
  margin-top: 160px;
}

@media only screen and (max-width: 1200px) {
  .Main__wrapper > .text {
    margin-top: 110px;
  }
  .Main__wrapper > .text > .top p {
    font-size: 13px;
  }
  .Main__wrapper > .text > .top > .line1 {
    width: 120px;
  }
  .Main__wrapper > .text .title {
    font-size: 28px;
    line-height: 40px;
    margin-top: 40px;
  }
  .Main__wrapper > .text .description {
    font-size: 15px;
    line-height: 25px;
  }
  .Main__wrapper > .text span {
    font-size: 14px;
    margin-top: 15px;
  }
  .Main__wrapper > .text button {
    padding: 12px 15px;
    font-size: 15px;
    margin-top: 30px;
  }
  .Main__wrapper .imga {
    margin-right: -50px;
  }
  .Main__wrapper .imga img {
    width: 500px;
  }
}

@media only screen and (max-width: 776px) {
  .Main {
    padding-bottom: 45px;
  }
  .Main__wrapper > .text {
    margin-top: 70px;
  }
  .Main__wrapper > .text > .top p {
    font-size: 11px;
  }
  .Main__wrapper > .text > .top > .line1 {
    width: 100px;
  }
  .Main__wrapper > .text .title {
    font-size: 22px;
    line-height: 30px;
    margin-top: 30px;
  }
  .Main__wrapper > .text .description {
    font-size: 12px;
    line-height: 20px;
  }
  .Main__wrapper > .text span {
    font-size: 12px;
    margin-top: 12px;
  }
  .Main__wrapper > .text button {
    padding: 10px 12px;
    font-size: 13px;
    margin-top: 30px;
  }
  .Main__wrapper .imga {
    margin-top: 60px;
    margin-right: -30px;
  }
  .Main__wrapper .imga img {
    width: 350px;
  }
}

@media only screen and (max-width: 576px) {
  .Main {
    padding-top: 5px;
    padding-bottom: 30px;
  }
  .Main__wrapper {
    display: block;
    padding-left: 10%;
  }
  .Main__wrapper > .text {
    margin-top: 110px;
  }
  .Main__wrapper > .text > .top {
    margin-top: 0;
  }
  .Main__wrapper > .text > .top p {
    font-size: 15px;
  }
  .Main__wrapper > .text > .top > .line1 {
    width: 100px;
  }
  .Main__wrapper > .text .title {
    font-size: 30px;
    line-height: 30px;
    margin-top: 30px;
  }
  .Main__wrapper > .text .description {
    font-size: 15px;
    line-height: 20px;
  }
  .Main__wrapper > .text span {
    font-size: 12px;
    margin-top: 12px;
  }
  .Main__wrapper > .text button {
    padding: 7px 12px;
    font-size: 12px;
    margin-top: 30px;
  }
  .Main__wrapper .imga {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */